.vscode
build
*.cpp2c
evaluation/*.csv
evaluation/extracted_programs
evaluation/archived_programs
__pycache__
CMakeFiles/
*.cmake
*.make
/bin/
/wrappers/
trace.txt
evaluation/config.py
/note
/tests/analyze-tests.py
/tests/compile_commands.json
/test*.*